body {
  margin: 0;
  background-color: #DDDDDD;
}

.landing, 
.create {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

header {
  display: grid;
  align-items: center;
  justify-content: center;
}

.title {
  width: 100%;
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: #240D57;
}

.snapchat {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 41px;
  text-align: center;
  background: linear-gradient(90deg, #8456EC 24.2%, #E87BF8 120.46%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.subtitle {
  width: 100%;
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #4F4F4F;
}

.middle {
  margin: 36px auto;
}

.middle > img {
  height: 292px;
}

.btn {
  text-align: center;
  padding: 16px 21px;
  background: linear-gradient(90deg, #8456EC, #E87BF8 100%);
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
  border: none;
  border-radius: 10px;
}